# MET DATA ANALYSIS
#### Reid Holben and Gabriel Barela

#### Loading the dataset from GitHub using pandas.
* Imports the pandas library: 
    * This is essential for data manipulation and analysis in Python.
* Defines the URL: 
    * This is the link to the raw dataset hosted on GitHub.
* Loads the dataset: 
    * The pd.read_csv(url) function reads the CSV file from the provided URL and loads it into a pandas DataFrame called data.

In [1]:
import pandas as pd

# URL of the raw dataset on GitHub
url = 'https://github.com/metmuseum/openaccess/raw/refs/heads/master/MetObjects.csv'

# Load the dataset
data = pd.read_csv(url)

C:\Users\gbare\AppData\Local\Temp\ipykernel_33412\3814981754.py:7: DtypeWarning: Columns (5,7,10,11,12,13,14,34,35,36,37,38,39,40,41,42,43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(url)

#### Analyze missing data in the DataFrame and combine it with the data types of each feature.
1. Calculate Missing Data:
* nullCounts = data.isnull().sum(): Counts the number of missing values for each feature.
* totalInstances = len(data): Gets the total number of instances in the DataFrame.
* nullPercentages = (nullCounts / totalInstances) * 100: Calculates the percentage of missing values for each feature.
2. Create a List of Tuples:
* A loop iterates over the features, counts, and percentages, appending them to nullData as tuples.
3. Create a DataFrame for Missing Data:
* nullDataFrame = pd.DataFrame(nullData, columns=['Feature', 'Count', 'Percentage']): Converts the list of tuples into a DataFrame.
* nullDataFrame = nullDataFrame.sort_values(by='Percentage', ascending=False): Sorts the DataFrame by the percentage of missing values in descending order.
4. Get Data Types:
* data_types = data.dtypes: Gets the data types of each feature.
* data_types_df = data_types.reset_index(): Converts the Series to a DataFrame.
* data_types_df.columns = ['Feature', 'Data Type']: Renames the columns for readability.
5. Merge DataFrames:
* combined_df = pd.merge(nullDataFrame, data_types_df, on='Feature'): Merges the missing data DataFrame with the data types DataFrame on the 'Feature' column.
* Finally, combined_df will contain the features, their missing value counts, percentages, and data types.

In [2]:
nullData = []
nullCounts = data.isnull().sum()
totalInstances = len(data)
nullPercentages = (nullCounts / totalInstances) * 100

for feature, count, percentage in zip(nullCounts.index, nullCounts, nullPercentages):
    nullData.append((feature, count, round(percentage, 2)))

nullDataFrame = pd.DataFrame(nullData, columns=['Feature', 'Count', 'Percentage'])

# Sort the DataFrame by 'Percentage' in decending order
nullDataFrame = nullDataFrame.sort_values(by='Percentage', ascending=False)

# Get the data types of each feature in the DataFrame
data_types = data.dtypes

# Convert the data types to a DataFrame for better readability
data_types_df = data_types.reset_index()
data_types_df.columns = ['Feature', 'Data Type']

# Merge the null data and data types into a single DataFrame
combined_df = pd.merge(nullDataFrame, data_types_df, on='Feature')

combined_df

                    Feature   Count  Percentage Data Type
0             Metadata Date  484956      100.00   float64
1                     River  482864       99.57    object
2                     State  482335       99.46    object
3                     Locus  477438       98.45    object
4                    County  476397       98.24    object
5                     Reign  473720       97.68    object
6                    Locale  469217       96.75    object
7                Excavation  468385       96.58    object
8                 Subregion  462813       95.43    object
9                   Dynasty  461755       95.22    object
10  Rights and Reproduction  460427       94.94    object
11                Portfolio  458442       94.53    object
12                   Region  453456       93.50    object
13                     City  452202       93.25    object
14           Gallery Number  435415       89.78    object
15           Geography Type  424997       87.64    object
16      Object Wikidata URL  415802       85.74    object
17                  Country  408949       84.33    object
18                   Period  393813       81.21    object
19            Artist Gender  378474       78.04    object
20                     Tags  292501       60.31    object
21             Tags AAT URL  292501       60.31    object
22        Tags Wikidata URL  292501       60.31    object
23                  Culture  276766       57.07    object
24      Artist Wikidata URL  260754       53.77    object
25          Artist ULAN URL  257515       53.10    object
26       Artist Display Bio  204533       42.18    object
27            Artist Suffix  202491       41.75    object
28          Artist End Date  202443       41.74    object
29       Artist Nationality  202443       41.74    object
30           Constituent ID  202443       41.74    object
31              Artist Role  202443       41.74    object
32            Artist Prefix  202443       41.74    object
33        Artist Alpha Sort  202443       41.74    object
34      Artist Display Name  202443       41.74    object
35        Artist Begin Date  202443       41.74    object
36           Classification   78717       16.23    object
37               Dimensions   75058       15.48    object
38                    Title   28803        5.94    object
39              Object Date   13431        2.77    object
40                   Medium    7215        1.49    object
41            AccessionYear    3862        0.80    object
42              Object Name    2266        0.47    object
43              Credit Line     651        0.13    object
44             Is Highlight       0        0.00      bool
45        Object Begin Date       0        0.00     int64
46          Object End Date       0        0.00     int64
47            Link Resource       0        0.00    object
48               Department       0        0.00    object
49                Object ID       0        0.00     int64
50               Repository       0        0.00    object
51         Is Public Domain       0        0.00      bool
52         Is Timeline Work       0        0.00      bool
53            Object Number       0        0.00    object

#### Code set up to keep only the features relevant for analyzing accession and object dates.
1. Define Features to Keep:
* features_to_keep = ['AccessionYear', 'Object Begin Date', 'Object End Date', 'Department', 'Artist Begin Date', 'Artist End Date', 'Dimensions','Object Date']: 
    * Specifies the columns you want to retain for your analysis.
2. Drop Irrelevant Features:
* cleaned_data = data[features_to_keep]: 
    * Creates a new DataFrame cleaned_data that includes only the specified columns.
3. Convert 'AccessionYear' to Numeric:
* cleaned_data.loc[:, 'AccessionYear'] = pd.to_numeric(cleaned_data['AccessionYear'], errors='coerce'): 
    * Converts the 'AccessionYear' column to numeric, coercing any errors to NaN.
4. Drop Rows with NaN Values in 'AccessionYear':
* cleaned_data = cleaned_data.dropna(subset=['AccessionYear']): 
    * Drops rows where 'AccessionYear' is NaN.
5. Display the First Few Rows:
* .head(): 
    * Displays the first five rows of the cleaned_data DataFrame.

In [3]:
# List of features to keep for analysis of accession and object dates
features_to_keep = ['AccessionYear', 'Object Begin Date', 'Object End Date', 'Department', 'Artist Begin Date', 'Artist End Date', 'Dimensions','Object Date']

# Drop irrelevant features
cleaned_data = data[features_to_keep]

# Convert 'AccessionYear' to numeric, coercing errors to NaN
cleaned_data.loc[:, 'AccessionYear'] = pd.to_numeric(cleaned_data['AccessionYear'], errors='coerce')

# Drop rows with NaN values in 'AccessionYear'
cleaned_data = cleaned_data.dropna(subset=['AccessionYear'])

cleaned_data.head()

,AccessionYear,Object Begin Date,Object End Date,Department,Artist Begin Date,Artist End Date,Dimensions,Object Date
0,1979.0,1853,1853,The American Wing,1794,1869,Dimensions unavailable,1853
1,1980.0,1901,1901,The American Wing,1785,1844,Dimensions unavailable,1901
2,1967.0,1909,1927,The American Wing,NaN,NaN,Diam. 11/16 in. (1.7 cm),1909–27
3,1967.0,1909,1927,The American Wing,NaN,NaN,Diam. 11/16 in. (1.7 cm),1909–27
4,1967.0,1909,1927,The American Wing,NaN,NaN,Diam. 11/16 in. (1.7 cm),1909–27